<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manhui.service.ChannelService">
  <resultMap id="BaseResultMap" type="com.manhui.model.Channel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="param" jdbcType="VARCHAR" property="param" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="state" jdbcType="TINYINT" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, url, param, type, state
  </sql>
  <select id="getChannelCount" resultType="java.lang.Integer">
  	select count(id) from bg_channel where state = 1
  </select>
  
  <select id="getChannelPage" parameterType="com.manhui.model.Channel" resultMap="BaseResultMap">
	select <include refid="Base_Column_List"></include>  from bg_channel
	where state = 1 limit #{start},#{end}
  </select>
  
  <select id="getAllChannel" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"></include>  from bg_channel
	where state = 1
  </select>
  
  <select id="getChannelById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"></include>  from bg_channel
  	where id=#{id,jdbcType=INTEGER}
  </select>
  
  <insert id="insertChannel" parameterType="com.manhui.model.Channel">
  	insert into bg_channel 
  	<trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
     <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
       #{url,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
       #{param,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
       #{type,jdbcType=INTEGER},
      </if>
      <if test="state != null">
       #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <delete id="deleteChannelById" parameterType="java.lang.Integer">
  	delete from bg_channel where id=#{id,jdbcType=INTEGER}
  </delete>
</mapper>