<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manhui.service.OrderExpressOtherLogService">
  <resultMap id="BaseResultMap" type="com.manhui.model.OrderExpressOtherLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="express_id" jdbcType="INTEGER" property="expressId"/>
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="input_num" jdbcType="INTEGER" property="inputNum" />
    <result column="output_num" jdbcType="INTEGER" property="outputNum" />
  </resultMap>
  <resultMap id="BaseResults" type="com.manhui.model.OrderExpressOtherLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="express_id" jdbcType="INTEGER" property="expressId"/>
    <result column="name" jdbcType="VARCHAR" property="expressName"/>
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="input_num" jdbcType="INTEGER" property="inputNum" />
    <result column="output_num" jdbcType="INTEGER" property="outputNum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, express_id, add_time, input_num, output_num
  </sql>
  
  <select id="findAllOrderExpressOtherLog" parameterType="java.lang.String" resultMap="BaseResults">
  	select oeol.id,oeol.express_id,e.name,oeol.add_time,oeol.input_num,oeol.output_num
  	from bg_order_express_other_log oeol,bg_express e 
  	where oeol.express_id = e.id
  	<if test="name != null">
  		and e.name like #{name,jdbcType=VARCHAR}
  	</if>
  </select>
  <select id="findInputOrderExpressOtherLog" parameterType="java.lang.String" resultMap="BaseResults">
  	select oeol.id,oeol.express_id,e.name,oeol.add_time,oeol.input_num
  	from bg_order_express_other_log oeol,bg_express e 
  	where oeol.express_id = e.id and oeol.input_num != 0
  	<if test="name != null">
  		and e.name like #{name,jdbcType=VARCHAR}
  	</if>
  </select>
  <select id="findOutputOrderExpressOtherLog" parameterType="java.lang.String" resultMap="BaseResults">
  	select oeol.id,oeol.express_id,e.name,oeol.add_time,oeol.output_num
  	from bg_order_express_other_log oeol,bg_express e 
  	where oeol.express_id = e.id and oeol.output_num != 0
  	<if test="name != null">
  		and e.name like #{name,jdbcType=VARCHAR}
  	</if>
  </select>
  
  <insert id="saveOrderExpressOtherLog" parameterType="com.manhui.model.OrderExpressOtherLog">
  	insert into bg_order_express_other_log 
  	<trim prefix="(" suffix=")" suffixOverrides=",">
  	<if test="id != null">
        id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="inputNum != null">
        input_num,
      </if>
      <if test="outputNum != null">
        output_num,
      </if>
      <if test="expressId != null">
        express_id,
      </if>
    </trim> 
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
     <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inputNum != null">
       #{inputNum,jdbcType=INTEGER},
      </if>
      <if test="outputNum != null">
       #{outputNum,jdbcType=INTEGER},
      </if>
      <if test="expressId != null">
       #{expressId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <select id="findnputnumAnd" resultMap="BaseResultMap">
  	select SUM(input_num) as input_num,SUM(output_num) as output_num from bg_order_express_other_log
  </select>
</mapper>