<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manhui.service.OrginShopService">
	<resultMap id="BaseResultMap" type="com.manhui.model.OrginShop">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="shop_nid" jdbcType="VARCHAR" property="shopNid" />
		<result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
		<result column="channel_id" jdbcType="INTEGER" property="channelId" />
		<result column="region_id" jdbcType="INTEGER" property="regionId" />
		<result column="province" jdbcType="VARCHAR" property="province" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
		<result column="state" jdbcType="INTEGER" property="state" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, shop_nid, img_url, channel_id, region_id, province, city,
		address, add_time,state
	</sql>
	<!-- 按列表插入数据 -->
	<insert id="insertList">
		INSERT INTO bg_orgin_shop(name, shop_nid, img_url, channel_id, region_id, province, city,
		address, add_time,state)
		VALUES
		<foreach collection="list" item="shop" separator=",">
			(#{shop.name},#{shop.shopNid},#{shop.imgUrl},#{shop.channelId},#{shop.regionId},
			#{shop.province},#{shop.city},#{shop.address},now(),#{shop.state})
		</foreach>
	</insert>
</mapper>