<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manhui.service.ScoreSiteLogService">
  <resultMap id="BaseResultMap" type="com.manhui.model.ScoreSiteLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="site_id" jdbcType="INTEGER" property="siteId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    id, add_time, site_id, score, info
  </sql>
  
  <select id="getScoreSiteLogList" resultMap="BaseResultMap">
     select <include refid="Base_Column_List"></include>
     from bg_score_site_log
  </select>
  
  <select id="getPageScoreSiteLog" parameterType="com.manhui.model.ScoreSiteLog" resultMap="BaseResultMap">
        SELECT
			ss.*,s.name as sname
		FROM
			bg_score_site_log ss
		LEFT JOIN
			bg_site s
		ON
			ss.site_id = s.id
		ORDER BY
			ss.id
      LIMIT #{start},#{end}
  </select>
  
  <insert id="insertScoreSiteLog" parameterType="com.manhui.model.ScoreSiteLog">
  	insert into bg_score_site_log
  	<trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="siteId != null">
        site_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
     <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="siteId != null">
       #{siteId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
       #{score,jdbcType=INTEGER},
      </if>
      <if test="info != null">
       #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateScoreSiteLog" parameterType="com.manhui.model.ScoreSiteLog">
    update bg_score_site_log
    <set>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="siteId != null">
        site_id = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectScoreSiteLogById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"></include>
    from 
   	  bg_score_site_log
    where
      id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteScoreSiteLog" parameterType="java.lang.Integer">
    delete from bg_score_site_log where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <select id="findScoreSiteLogSortByScore" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"></include> from bg_score_site_log
  	order by score desc
  </select>
</mapper>