<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>基础行政区划数据管理</title>
		<link rel="stylesheet" href="../cssAndJs/libs/bootstrap.css"/>
		<link rel="stylesheet" href="../cssAndJs/libs/font-awesome.css"/>
		<link rel="stylesheet" href="../cssAndJs/libs/layui/css/layui.css"/>
		<link rel="stylesheet" href="../cssAndJs/libs/layui/css/modules/laydate/default/laydate.css"/>
		<link rel="stylesheet" href="../cssAndJs/css/base.css"/>
		<link rel="stylesheet" href="../cssAndJs/css/plan_style.css"/>
		<link rel="stylesheet" href="../cssAndJs/css/temp_base.css"/>
		<link rel="stylesheet" href="../css/plugins/sweetalert/sweetalert.css"/>
</head>
<body>
	<div class="temp-base">
		<div class="content">
			<div><label>当前位置-基础信息配置-行政区划数据</label></div>
			<div class="add_temp">
            	<span class="btn_sm_blue1" onclick="to_add_region();">新增行政区划</span>
        	</div>
			<div class="tempList" style="margin-top: 30px;">
				 <table>
				 	<tr>
					 	<th>序号</th>
					 	<th>行政区划名称</th>
					 	<th>父级行政区划名称</th>
					 	<th>行政区划简拼首字母</th>
					 	<th>行政区划简拼</th>
					 	<th>行政区划拼音</th>
					 	<th>行政区划英文名</th>
					 	<th>行政区划简称</th>
					 	<th>行政区划全称</th>
					 	<th>行政区划合称</th>
					 	<th>行政区划合称(简)</th>
					 	<th>行政区划级别</th>
					 	<th>状态</th>
					 	<th>区号</th>
					 	<th>邮编</th>
					 	<th>经度</th>
					 	<th>纬度</th>
					 	<th>经纬度空间索引编码</th>
					 	<th>备注</th>
					 	<th>操作</th>
				 	</tr>
				 	<tr th:each="baseRegion,userStat : ${baseRegion}">
				 		<td th:if="${pageCurrent}==1" th:text="${userStat.count}"></td> 
						<td th:unless="${pageCurrent}==1" th:text="${userStat.index}+${pageCurrent}*10-9"></td>
						<td th:text="${baseRegion.name}"></td>
						<td th:text="${baseRegion.parentName}"></td>
						<td th:text="${baseRegion.firstjianpin}"></td>
						<td th:text="${baseRegion.jianpin}"></td>
						<td th:text="${baseRegion.pinyin}"></td>
						<td th:text="${baseRegion.engname}"></td>
						<td th:text="${baseRegion.shortname}"></td>
						<td th:text="${baseRegion.fullname}"></td>
						<td th:text="${baseRegion.mergername}"></td>
						<td th:text="${baseRegion.mergershortname}"></td>
						<td>
							 <span th:switch="${baseRegion.level}" style="height: 34px;line-height: 34px">
							 	<span th:case="0">国家</span>
								<span th:case="1">省级</span>
								<span th:case="2">市级</span>
								<span th:case="3">区县</span>
							</span>
						</td>
						<td><span th:if="${baseRegion.state} == 0">停用</span>
						<span th:if="${baseRegion.state} == 1">启用</span> </td>
						<td th:text="${baseRegion.areacode}"></td>
						<td th:text="${baseRegion.zipcode}"></td>
						<td th:text="${baseRegion.lng}"></td>
						<td th:text="${baseRegion.lat}"></td>
						<td th:text="${baseRegion.geohash}"></td>
						<td th:text="${baseRegion.remark}"></td>
						<td style="width: 100px;">
							<div>
								<span class="btn_sm_blue1" th:onclick="'javascript:delete_region('+${baseRegion.id}+');'">删除</span> 
							</div>
						</td>
				 	</tr>
				 </table>
			</div>
			<!--分页-->
			<div class="pages_box">
				<div class="custom_pager" style="margin-top: 40px;"></div>
			</div>
		</div>
	</div>
	<input type="hidden" id="rows" name="rows" th:value="${rows}"/>
	<input type="hidden" id="pageSize" name="pageSize" th:value="${pageSize}"/>
	<input type="hidden" id="pageCurrent" name="pageCurrent" th:value="${pageCurrent}"/>
	<input type="hidden" id="pageCount" name="pageCount" th:value="${pageCount}"/>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/layui/layui.js"></script>
   	<script src="../js/plugins/sweetalert/sweetalert.min.js"></script>
   	<script src="../js/plugins/datapicker/bootstrap-datepicker.js"></script>
   	<script type="text/javascript">
   	var flag = [[${flag}]];
    $(document).ready(function () {
        if(flag!=null){
            swal({
                 title : "提示",
                 text : flag
            });
        }
    });
    
   	</script>
   	
   	<script type="text/javascript">
   	var count = $("#rows").val();
	var limit = $("#pageSize").val();
	var pageCurrent = $("#pageCurrent").val();
	var pageCount = $("#pageCount").val();
	layui.use([ "form", "laydate", "layer", "laypage" ],
	function() {
		var form = layui.form;
		var laydate = layui.laydate;
		var layer = layui.layer;
		var laypage = layui.laypage;
		
		$(".laydate_time").each(function() {
			laydate.render({elem : this
				});
		});
		//分页器
		$(".custom_pager").each(function () {
			laypage.render({
				elem: this,
				count: count,	// 数据条数
				limit: limit,	// 限制每页显示的数据条数
				curr: pageCurrent,	// 起始默认页面
				groups: 6,	// 分页器连续出现的页码个数
				layout: ['prev', 'page', 'next'],	//自定义排版
				//当分页被切换时触发(包括首次加载)
				jump: function (obj, first) {

					var html = '<div class="custom_pager_count">' +
									'共' + obj.pages + '页, 第' + obj.curr + '页' +
								'</div>';
					$(obj.elem).append(html);

					if (first) {
						return;
					}else{
						window.location.href="getBaseRegion_"+obj.curr+"_0_0"
						var html = '<div class="custom_pager_count">' +
						'共' + obj.pages + '页, 第' + pageCurrent + '页' +
						'</div>';
						$(".custom_pager_count").remove();
						$(obj.elem).append(html);
					}
				}
			});
		});
	})
   	</script>
   	
   	<script type="text/javascript">
    //新增物流数据
	function to_add_region() {
    	layer.open({
			type : 2,
			title : '新增物流数据',
			skin : 'layui-layer-molv',
			shadeClose : true,
			maxmin : false, //关闭最大化最小化按钮
			area : ['800px', '700px'],
			content : [ '/to_add_region'],
			end : function() {
				// 如果是通过单击关闭按钮关闭弹出层，父画面没有此表单
				if ($("#popupFormDiv").length === 1) {
					$("#popupFormDiv").submit();
				}
				location.reload();
			}
		});
	}
    
    //删除商品行业
	function delete_region(id){
		layer.confirm('你确定要删除此行政区划么？', {
		  btn: ['确定','取消'] //按钮
		}, function(){
			window.location.href="/delete_region?id="+id;
		}, function(){
			layer.close();
		});
	}
   	</script>
</body>
</html>